doctype html
html(ng-app='ChurchAdminTool')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href="/assets/images/favicon.ico" rel="icon" type="image/x-icon")
        title
        //styles
        //- link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css")
        //- link(href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" type="text/css")
        //- link(href="/bower_components/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet" type="text/css")
        //- link(href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")

    body
        div(ui-view='')
        //scripts
